//  Single Services
.single-service__title-zone {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.single-service__content {
  padding: 46px 0;
  font-size: 16px;
}
.single-service__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 17px;
}
.single-service__subtile-zone {
  margin: 10px 0;
}

.signle-post__feature-img {
  width: 100%;
}

.single-service__share-box {
  height: 96px;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px 0 19px;
}
.facebook__logo {
  width: 48px;
  height: 48px;
}
.facebook__embedded {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
}
.grid-post {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.single-service__relate-zone {
  margin-top: 10px;
  margin-bottom: 60px;
}
.single-service__relate-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  color: #2e3230;
  margin-top: 40px;
  margin-bottom: 20px;
}
.single-service__relate {
  max-width: 350px;
}

.single-service__left-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #ff5200;
  margin-bottom: 58px;
}
.single-service__left-menu-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 48px;
  background: #333333;

  padding-left: 28px;
  height: 48px;
  width: 100%;
  background: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.single-service__left-menu-item.active {
  background: #ff5200;
  color: #fafafa;
}
.single-service__others {
  margin-top: 50px;
  height: 22px;
}
.single-service__others-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.0015em;
  text-transform: capitalize;
  color: #000000;
}
.single-service__others-nav {
  margin-top: 15px;
  display: flex;
}
.single-service__others-nav-icon {
  height: 22px;
}
.single-service__others-nav-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.single-service__others-nav-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
  padding: 0 12px;
}
.single-service__others-line {
  height: 22px;
  width: 1px;
  background: #333333;
  margin: auto;
}

@media (max-width: 992px) {
  .single-service__others {
    margin-bottom: 120px;
  }
}
