.header__tracking {
  background-image: url('/assets/img/bg-tra-cuu-thong-tin.png');
  height: auto;
  background-size: cover;
  border-bottom: $brand-color-green 12px solid;
  position: relative;
}

.wrapper__content {
  height: 100vh;
  background-color: #fafffc;
}
