// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  background-color: #fff;
}

.header__brand {
  display: flex;
  > .brand-logo {
    width: 49.93px;
    height: 41.92px;
    align-self: center;
    margin-right: 10px;
  }
}
.brand-name {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: $brand-color-green;
  align-self: center;
}

.navigation__list {
  list-style: none;
  display: flex;
  > .navigation__items {
    font-size: 18px;
    margin-right: 25px;
    align-self: center;
  }
}

.header__wrapper {
  color: $light-grey;
  padding: 120px 0px;
  height: 100%;
  > .header__title {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 16px;
  }
  > .header__content {
    width: 50%;
    font-size: 18px;
  }
  > .breadrum {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    padding: 16px 32px 4px 32px;
    background-color: $brand-color-green;
    > .breadrum__here {
      font-size: 18px;
    }
  }
}

@media (max-width: 1000px) {
  .navigation__list {
    display: none;
  }
  .header__title {
    font-size: $md-title !important;
  }
  .header__content {
    width: 100% !important;
    font-size: $md-fontSize !important;
  }
}
